<div class="block mt-5">
	<div class="row pt-0">
	  <div class="col-sm-3">
	  	<%= image_tag @book.dig('volumeInfo', 'imageLinks', 'thumbnail'), class: "img-left" %>
	  </div>
	  <div class="col-sm-9"> 
	    <div class="content-heading"><h3>Subtitle</h3></div>
	    <p><%= @book.dig('volumeInfo', 'subtitle') %></p>
	  </div>
	</div>
</div>